{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'assets/{% get_image_url 1 %}' %}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#pricing">Pricing</a></li>
              <li class="scroll-to-section"><a href="#newsletter">Newsletter</a></li>
              {% if logstat %}
              <li><div class="gradient-button"><a href="{% url 'web:logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a></div></li> 
              {% else %}
              <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
              {% endif %}
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  

<!-- chat.html -->
<div id="chat-container" style="    z-index: 1000;" class="position-fixed bottom-0 end-0 p-3">
  <!-- Button to toggle chat box -->
  <button id="toggle-chat-button" class="btn btn-primary">Chat</button>

  <!-- Chat box -->
  <div id="chat-box" class="card d-none">
      {% if logstat %}
          <div class="card-header">
              Chat
          </div>
          <div class="card-body">
            <div class="container mt-3 p-5">
              <div class="row">
                  <div class="col-12 col-md-8">
                      <div class="mb-2">
                        {% for message in messages %}
                          <p>{{ message.user.username }}: {{ message.content }}</p>
                      {% endfor %}
                          <label for="chatLog">Room: #{{ room.name }}</label>
                          <textarea class="form-control" id="chatLog" readonly></textarea>
                      </div>
                      <div class="input-group">
                          <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
                          <div class="input-group-append">
                              <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
                          </div>
                      </div>
                  </div>
                 
              </div>
              {{ room.name|json_script:"roomName" }}
          </div>
          </div>
      {% else %}
          <div class="card-header">
              Login/Signup
          </div>
          <div class="card-body">
            <li><div class="gradient-button"><a id="modal_trigger2" href="#modal"><i class="fa fa-user"></i> Sign in to chat</a></div></li>
          </div>
      {% endif %}
  </div>
</div>


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <!-- Add ID to the header text -->
                  <h2 id="headerText"></h2>
                  <!-- Add ID to the paragraph -->
                  <p id="paragraphText"></p>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <!-- Add ID directly to the image -->
              <img src="" alt="" id="mainImage">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <!-- Add ID to the heading -->
          <h4 id="servicesHeading"></h4>
          <!-- Add ID to the heading line image -->
          <img src="" alt="" id="headingLineImage">
          <!-- Add ID to the paragraph -->
          <p id="servicesParagraph"></p>
        </div>
      </div>
    </div>
  </div>
</div>



  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services &amp; Features</em> for you</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
            <p>If you need the greatest collection of HTML templates for your business, please visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS</a> Blog. If you need to have a contact form PHP script, go to <a href="https://templatemo.com/contact" target="_parent">our contact page</a> for more information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>App Maintenance</h4>
            <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Multi Workflow Idea</h4>
            <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion axe.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Maintance Problems</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">24/7 Support &amp; Help</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Fixing Issues About</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Co. Development</a></h4>
                <p>Lorem Ipsum Text</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
              <div class="gradient-button">
                <a href="#">Start 14-Day Free Trial</a>
              </div>
              <span>*No Credit Card Required</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'assets/images/about-right-dec.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Check What <em>The Clients Say</em> About Our App Dev</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-7 align-self-center">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>David Martino Co</h4>
                            <span class="date">30 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Financial Apps</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.8</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Jake Harris Nyo</h4>
                            <span class="date">29 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Digital Business</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>May Catherina</h4>
                            <span class="date">27 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Business &amp; Economics</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Random User</h4>
                            <span class="date">24 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">New App Ecosystem</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">3.9</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-4 col-sm-4 col-12">
                            <h4>Mark Amber Do</h4>
                            <span class="date">21 November 2021</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                            <span class="category">Web Development</span>
                          </div>
                          <div class="col-lg-4 col-sm-4 col-12">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <span class="rating">4.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-5">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{% static 'assets/images/quote.png' %}" alt="">
                                <p>“Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/client-image.jpg' %}" alt="">
                                <div class="right-content">
                                  <h4>David Martino</h4>
                                  <span>CEO of David Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{% static 'assets/images/quote.png' %}" alt="">
                                <p>“CTO, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/client-image.jpg' %}" alt="">
                                <div class="right-content">
                                  <h4>Jake H. Nyo</h4>
                                  <span>CTO of Digital Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{% static 'assets/images/quote.png' %}" alt="">
                                <p>“May, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/client-image.jpg' %}" alt="">
                                <div class="right-content">
                                  <h4>May C.</h4>
                                  <span>Founder of Catherina Co.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{% static 'assets/images/quote.png' %}" alt="">
                                <p>“Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/client-image.jpg' %}" alt="">
                                <div class="right-content">
                                  <h4>Random Staff</h4>
                                  <span>Manager, Digital Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="client-content">
                                <img src="{% static 'assets/images/quote.png' %}" alt="">
                                <p>“Mark, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                  lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”</p>
                              </div>
                              <div class="down-content">
                                <img src="{% static 'assets/images/client-image.jpg' %}" alt="">
                                <div class="right-content">
                                  <h4>Mark Am</h4>
                                  <span>CTO, Amber Do Company</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
            <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </div>
        {% for service in services %}
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">{{service.price}}</span>
            <h4>{{service.title}}</h4>
            <div class="icon">
              <img src="{{ service.image.url }}" alt="{{ service.title }}">
            </div>
            <p>{{ service.description }}</p>
            <div class="border-button">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orderModal">

              Purchase This Plan Now
              </button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="orderModalLabel">Order Form</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form id="orderForm">
                          {% csrf_token %}
                          <input type="hidden" name="service_id" value="{{ service.id }}">
                          <div class="mb-3">
                              <label for="name" class="form-label">Name:</label>
                              <input type="text" name="name" class="form-control" required>
                          </div>
                          <div class="mb-3">
                              <label for="phone_number" class="form-label">Phone Number:</label>
                              <input type="text" name="phone_number" class="form-control" required>
                          </div>
                          <div class="mb-3">
                              <label for="email" class="form-label">Email:</label>
                              <input type="email" name="email" class="form-control" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Place Order</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
        {% endfor %}
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">$12</span>
            <h4>Standard Plan App</h4>
            <div class="icon">
              <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
            </div>
            <ul>
              <li>Lorem Ipsum Dolores</li>
              <li>20 TB of Storage</li>
              <li class="non-function">Life-time Support</li>
              <li class="non-function">Premium Add-Ons</li>
              <li class="non-function">Fastest Network</li>
              <li class="non-function">More Options</li>
            </ul>
            <div class="border-button">
              <a href="#">Purchase This Plan Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">$25</span>
            <h4>Business Plan App</h4>
            <div class="icon">
              <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
            </div>
            <ul>
              <li>Lorem Ipsum Dolores</li>
              <li>50 TB of Storage</li>
              <li>Life-time Support</li>
              <li>Premium Add-Ons</li>
              <li class="non-function">Fastest Network</li>
              <li class="non-function">More Options</li>
            </ul>
            <div class="border-button">
              <a href="#">Purchase This Plan Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">$66</span>
            <h4>Premium Plan App</h4>
            <div class="icon">
              <img src="{% static 'assets/images/pricing-table-01.png' %}" alt="">
            </div>
            <ul>
              <li>Lorem Ipsum Dolores</li>
              <li>120 TB of Storage</li>
              <li>Life-time Support</li>
              <li>Premium Add-Ons</li>
              <li>Fastest Network</li>
              <li>More Options</li>
            </ul>
            <div class="border-button">
              <a href="#">Purchase This Plan Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our mailing list to receive the news &amp; latest trends</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form method="post" id="search" >
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  {% csrf_token %}
                  {{ form.as_p }}
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Subscribe Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">info@company.co</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li>
            </ul>
            <ul>
              <li><a href="#">App Dev Team</a></li>
              <li><a href="#">Digital Web</a></li>
              <li><a href="#">Normal Apps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <img src="{% static 'assets/images/white-logo.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Chain App Dev Company. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com/" target="_blank" title="css templates">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>
  
    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
  
          <form method="post" action="{% url 'web:login' %}">
                {% csrf_token %}
                {{ login }}                
  
                
                <br />
  
                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me on this computer LLLL</label>
                </div>
  
                <div class="action_btns">
                    <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                    <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>

                </div>
            </form>            
  
            
        </div>
  
        <!-- Username & Password Login form -->
        <div class="user_login">
          <form method="post" action="{% url 'web:login' %}">
            <label>Email</label>
                {% csrf_token %}
                  {{ login.username }}
                <br />
  
                <label>Password</label>
                  {{ login.password }}
                <br />
  
               
  
                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Login</button></div>
                </div>
            </form>
  
            <a href="#" class="forgot_password">Forgot password?</a>
        </div>
  
        <!-- Register Form -->
        <div class="user_register">
          <form method="post" action="{% url 'web:register' %}">
            {% csrf_token %}
                  
                <label>Full Name</label>
                {{ register.name }}
                <br />
  
                <label>Email</label>
                {{ register.email }}
                <br />
  
                <label>Password</label>
                {{ register.password1 }}
                <br />

                <label>Confierm Password</label>
                {{ register.password2 }}
                <br />
  
                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Send me occasional email updates</label>
                </div>
  
                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><button type="submit" class="btn btn_red">Register</button></div>
                </div>
            </form>
        </div>
    </section>
  </div>
  

<script>
    var userId = "{{ user_id }}";  // Use the user_id from the Django context

    // Construct the URL with the user ID
    var chatUrl = "{% url 'chat' %}?user_id=" + userId;

    var chatContainer = document.getElementById('chat-container');
    var chatIframe = document.createElement('iframe');
    chatIframe.src = chatUrl;
    chatIframe.width = '100%';
    chatIframe.height = '600px';  // Set the desired height
    chatIframe.frameBorder = '0';

    chatContainer.appendChild(chatIframe);
</script>



  <script>
  // chat.js
  const toggleChatButton = document.getElementById('toggle-chat-button');
  const chatBox = document.getElementById('chat-box');

  toggleChatButton.addEventListener('click', () => {
      if (chatBox.classList.contains('d-none')) {
          chatBox.classList.remove('d-none');
          toggleChatButton.textContent = 'Close';
      } else {
          chatBox.classList.add('d-none');
          toggleChatButton.textContent = 'Chat';
      }
  });

  // Rest of your chat.js code...
</script>
  <script>
    $(document).ready(function() {
        $('#modal_trigger, #modal_trigger2').click(function() {
            $('#modal').fadeIn();
            return false;
        });
    
        $('.modal_close').click(function() {
            $('#modal').fadeOut();
            return false;
        });
    });
    </script>    

  <script>
    // JSON data for visible elements
    const jsonData = {
      servicesHeading: "Amazing <em>Services &amp; Features</em> for you",
    headingLineImageSrc: "{% static 'assets/images/heading-line-dec.png' %}",
    servicesParagraph:
      "If you need the greatest collection of HTML templates for your business, please visit <a rel='nofollow' href='https://www.toocss.com/' target='_blank'>TooCSS</a> Blog. If you need to have a contact form PHP script, go to <a href='https://templatemo.com/contact' target='_parent'>our contact page</a> for more information.",
      headerText: "Get The Latest App From App Stores",
      paragraphText: "Chain App Dev is an app landing page HTML5 template based on Bootstrap v5.1.3 CSS layout provided by TemplateMo, a great website to download free CSS templates.",
      buttonOne: [
        { text: "Free Quote", link: "#contact" },
        { text: "Button One Alternate", link: "#alt-link" }
      ],
      buttonTwo: [
        { text: "Free Quote", link: "#contact" },
        { text: "Button Two Alternate", link: "#alt-link" }
      ],
      mainImage: [
        "{% static 'assets/images/slider-dec.png' %}",
        "{% static 'assets/images/another-image.png' %}"
      ]
    };
  
    // Function to set data for buttons
    function setButtonData(buttonId, buttonData) {
      const buttonElement = document.getElementById(buttonId);
      if (buttonElement) {
        for (const item of buttonData) {
          const button = document.createElement("a");
          button.textContent = item.text;
          button.setAttribute("href", item.link);
          buttonElement.appendChild(button);
        }
      }
    }
  
    // Set data for header text and paragraph
    document.getElementById("headerText").textContent = jsonData.headerText;
    document.getElementById("paragraphText").textContent = jsonData.paragraphText;
  
    // Set data for buttons
    setButtonData("buttonOne", jsonData.buttonOne);
    setButtonData("buttonTwo", jsonData.buttonTwo);
  
    // Set data for images
    const mainImageElement = document.getElementById("mainImage");
    if (mainImageElement) {
      // Set the src attribute to the first image URL in the jsonData array
      mainImageElement.setAttribute("src", jsonData.mainImage[0]);
      // Set an appropriate alt text
      mainImageElement.setAttribute("alt", "Image Description");
    }
  </script>
  
  

  <script>
    // JavaScript function to handle form submission via AJAX
    $(document).ready(function () {
        $('#orderForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/order_service_js/',
                data: $('#orderForm').serialize(),
                dataType: 'json',
                success: function (data) {
                    // Close the modal after successful submission
                    $('#orderModal').modal('hide');
                    alert(data.message);
                },
                error: function () {
                    alert('An error occurred. Please try again later.');
                }
            });
        });
    });
</script>
  <!-- Scripts -->
  <script>
    // JavaScript function to handle form submission via AJAX
    $(document).ready(function () {
        $('#search').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/collect_email/',  // URL to your Django view
                data: $('#search').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.message === 'Success') {
                        alert('Thank you for subscribing!');
                    } else {
                        alert('Error: ' + data.errors.email);
                    }
                },
                error: function () {
                    alert('An error occurred. Please try again later.');
                }
            });
        });
    });
</script>
<script src="{% static 'room.js' %}"></script>

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>